#!KAMAILIO

loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "xlog.so"

listen=udp:0.0.0.0:5062

request_route {

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483","Too Many Hops");
        exit;
    }

    if (is_method("REGISTER")) {

       // if ($au=="1000" && $fd=="localhost") {
            sl_send_reply("200","Registered");
            exit;
       // }

       // sl_send_reply("403","Forbidden");
       // exit;
    }

    if (is_method("INVITE")) {

        rewritehostport("127.0.0.1:5060");

        route(RELAY);
        exit;
    }

    route(RELAY);
}

route[RELAY] {

    if (!t_relay()) {
        sl_reply_error();
    }

    exit;
}
